<% content_for :title do %>Edit user<% end %>
<div class="container">
<h1>Edit User Account Details</h1>
	<%= simple_form_for @user, :html => { :id => 'delete', :method => 'delete'} do |f| %>
	<%= f.button :submit, 'Delete User', :class => 'btn-danger offset2' %>
	<% end %>
	
	<%= simple_form_for @user, :html => { :id => 'edit', :class => '.form-horizontal' } do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email_address %>
	<%= f.input :password %>
	<%= f.button :submit %>
	<% end %>