<% content_for :title do %>Add a new user<% end %>
<div class="container">
	<h1>Join the Crew</h1>
	<%= simple_form_for @user, :html => { :id => 'user', :class => '.form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email_address %>
	<%= f.input :password %>
	<%= f.button :submit %>
	<% end %>
</div>