<% content_for :title do %>Edit Product<% end %>
<div class="hero-unit">
	<h3>Edit Product Details: </h3>
	<h3><%= @product.name %></h3>
</div>
<%= simple_form_for @product, :html => { :id => 'delete', :method => 'delete'} do |f| %>
	<%= f.button :submit, 'Delete Product', :class => 'btn-danger offset1' %>
<% end %>
<%= simple_form_for @product, :html => { :id => 'edit', :class => '.form-horizontal offset1'} do |f| %>
	<%= f.error_notification %>
	<%= f.input :name %>
	<%= f.input :description, :as => :string %>
	<%= f.input :pricing, :as => :string, :hint => 'USD only, please' %>
	<%= f.button :submit, :class => 'btn btn-info offset1' %>
<% end %>