<%= content_for :title do %>Add a Product<% end %>
<div class="hero-unit">
	<h3>Add a Product</h3>
</div>
<%= simple_form_for @product, :html => {:id => 'product', :class => '.form-horizontal offset1'} do |f| %>
	<%= f.error_notification %>
	<%= f.association :category, :selected => 'category.name' %>
	<%= f.input :name %>
	<%= f.input :description, :as => :string %>
	<%= f.input :pricing, :as => :string %>
	<%= f.button :submit, :class => 'btn btn-info' %>
<% end %>